
<html>
<head>
	<title>GoalSpec: Manage Your Goals</title>
	<style>
	body {
		font-family: arial, sans-serif;
		text-align: center;
		color: black;
		background-color: #EFEFEF;	
	}
	</style>
</head>

<body>
<h2>GoalSpec</h2>


<p><%= link_to "What is GoalSpec?", welcome_index_path(expand: "show")%></p>
<p><%= toggle_partial "whatgoals" %></p>
<p><%= link_to 'Click here to make a Goal!', new_goal_path %></p>
<p><%= link_to 'Click here to view your Goals!', goals_path %></p>
<p>Upcoming Goals: <%= @goal_name%> by <%=@goal_due%>


  

</body>

</html>