<h1>Listing updates for <%= @goal.goal %></h1>

<%= month_calendar table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: {class: "day"}, events: @goal_updates do |date, updates| %>
<%= date.strftime('%d') %>
  <% updates.each do |update| %>
  <p>
    <%= link_to update.updated_at.to_s(:time), [@goal, update] %>
    </p>
  <% end %>
<% end %>

<br>

<%= link_to 'New Goal Update', new_goal_goal_update_path(goal_id: @goal.id) %> | 
<%= link_to "Mark Complete", goal_mark_complete_path, method: :put %>
