<h1>Listing goals</h1>



<table class="table" >
<thead >
    <tr>
      <th class="text-center">Goal</th>
      <th class="text-center">Due Date</th>
      <th class="text-center">Updates</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% active_or_complete(@goals).each do |goal|  %>
      <tr>
        <% if goal.subgoals == [] %>
        <td><%= link_to goal.goal, goal %></td>
        <td><%= goal.end.to_s(:long_ordinal) %></td>
        <td><%= link_to "View updates", goal_goal_updates_path(goal.id) %> </td>
            <% find_subgoals(goal).each do |g| %>
            <% subgoal = Goal.find(g.goal_id) %>
            <%= render partial: 'layouts/table_row', locals: {subgoal: subgoal} %>
              
                <% end %>
              
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path(user_id: current_user.id) %> |
<%= complete_toggle %>
