<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @goal.goal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @goal.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @goal.end %>
</p>


  <strong>Subgoal To:</strong>
  <% @goal.subgoals.each do |subgoal| %>
    <%= link_to "#{subgoal.goal}", subgoal %>
    <%end%>
  </p>

    <p>
  <strong>Subgoals:</strong>
  <% find_subgoals(@goal).each do |supergoal| %>
      <% g = Goal.find(supergoal.goal_id) %>
    <%= link_to "#{g.goal}", g %>
  <%end%>
  </p>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %> |
<%= link_to 'Delete', @goal, method: :delete, data: { confirm: 'Are you sure?' } %>
