<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @goal.goal %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @goal.reason %>
</p>

<p>
  <strong>Start:</strong>
  <%= @goal.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @goal.end %>
</p>

<p>
  <strong>Recurrance:</strong>
  <%= @goal.recurrance %>
</p>
<% if @goal.id != nil %>
  <p>
  <strong>MetaGoal:</strong>
  <% Goal.where(id: @goal.metagoal_id).each do |metagoal| %>
    <%= link_to "#{metagoal.goal}", metagoal %>
    <%end%>
  </p>
<% else %>
    <p>
  <strong>SubGoals:</strong>
  <% Goal.where(metagoal_id: @goal.id).each do |subgoal| %>
    <%= link_to "#{subgoal.goal}", subgoal %>
  <%end%>
  </p>
<%end%>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
