<!DOCTYPE html>
<html>
<head>
  <title>Goalspec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
	body {
		font-family: arial, sans-serif;
		text-align: center;
		color: black;
		background-color: #EFEFEF;	
	}
	</style>
	<!-- Bootstrap -->
</head>
<body>

<%= render 'layouts/header' %>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <script src="http://code.jquery.com/jquery.js"></script>

<%= yield %>

</body>
</html>
